@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(
    13deg,
    rgba(201, 31, 31, 1) 0%,
    rgba(214, 120, 24, 1) 34%,
    rgba(196, 90, 18, 1) 104%
  );
  --gradient-bar: radial-gradient(circle at 1% 19%, #54656e 0%, #173f0fe6 100%);

  --color-bg: #815a1e;
  --color-footer: #163453;
  --color-blog: #042c54;
  --color-text: #beccda;
  --color-subtext: #ff8a71;
}
body,
html {
  font-family: "manrope", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
